html {
  font-family: 'Lato', sans-serif;
}

svg {
  border: 1px solid black;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

#yearRangeInputContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 210px;
}

#include2017CheckboxContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 290px;
}

#include2017CheckboxContainer #check {
  position: relative;
  top: 3px;
}

#intervalInput {
  width: 30px;
  outline: none;
  text-align: center;
}

.belowXAxisLabel {
  font-size: 14px;
}
