html {
  font-family: "Lato", sans-serif;
  background-color: white;
}

svg {
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

#yearRangeInputContainer,
#include2017CheckboxContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 270px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 5px;
}

#include2017CheckboxContainer {
  width: 290px;
}

#include2017CheckboxContainer #check {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  font-size: 18px;
  line-height: 5px;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#intervalInput {
  width: 30px;
  outline: none;
  text-align: center;
  border: 1px solid rgb(169 169 169);
}

.barGroups:hover {
  filter: url("#contrast");
}

.tick > text {
  font-size: 15px;
}

button {
  cursor: pointer;
}

#infoTooltip {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  pointer-events: none;
}

#infoTooltip.hidden {
  display: none;
}

tspan.bottomBoldLabel {
  font-weight: bold;
}

#dataByYear,
#dataOnCurrentScreen {
  cursor: pointer;
}

.bottomLink:hover {
  fill: blue;
  text-decoration: underline;
}

.fa-info-circle:hover {
  color: green;
}

#submitIntervalButton {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  border-radius: 4px;
}

#submitIntervalButton:hover {
  background-color: green;
  color: white;
  border: 1px solid white;
}
